html, body {
  margin: 0px;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.main-content {
    flex-direction: column;
    flex-grow: 1;
    gap: 30px;
}

.header {
  justify-content: space-between;
  align-items: center;
  padding: 5px 15%;
  font-family: "Roboto", sans-serif;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.links {
  gap: 15px;
  color: white;
}

.intro {
  padding: 50px 50px;
  justify-content: center;
  color: white;
  font-family: "Roboto", sans-serif;
  gap: 40px;
}

.intro,
.header {
  background-color: #1f2937;
}

.intro-content,
.intro-cats {
  flex-direction: column;
  min-width: 200px;
  min-height: 200px;
}

.intro-content {
    justify-content: center;
    width: 500px;
}


.intro-image {
    width: 500px;
    height: 300px;
}

.intro-button {
  width: 100px;
  background-color: #3882f6;
  border-color: #3882f6;
  color: white;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  border-style: solid;
  font-weight: bold;
  padding: 5px;
}

ul {
  list-style-type: none;
}

p {
  margin-top: 5px;
}

h1 {
  margin-bottom: 0;
}

.information {
  flex-direction: column;
}

.info-title {
  text-align: center;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 40px;
}

.info-subtext {
  justify-content: center;
  gap: 120px;
  margin-bottom: 100px;
}

.img-item {
  flex-direction: column;
  align-items: center;
  width: 100px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: gray;
}

img {
  width: 100px;
  height: 125px;
}

.img-descript {
  width: 100px;
  margin-top: 15px;
}

.quote {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #e5e7eb;
  justify-content: center;
}

.quote-text {
  width: 600px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 25px;
  flex-direction: column;
  text-align: left;
}

.quote-author {
  font-style: normal;
  justify-content: flex-end;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.sign-up {
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 30px;
}

.action-text {
  background-color: #3882f6;
  margin: 60px;
  padding: 20px;
  border-radius: 8px;
  color: white;
  font-family: "Roboto", sans-serif;
  justify-content: space-around;
  width: 800px;
}

.action-text-left {
  flex-direction: column;
}

.action-title {
  font-size: 20px;
  margin-bottom: 0px;
}

.action-text-right {
  align-items: center;
}

.sign-up-button {
  border-color: white;
  background-color: #3882f6;
  color: white;
  border-radius: 8px;
  border-style: solid;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  width: 100px;
  padding: 5px;
}

.footer {
  background-color: #1f2937;
  color: white;
  padding: 40px;
  text-align: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  flex-shrink: 0;
  flex-direction: column;
}
